# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

.vscode/
Benchmarking/
hf_cache/
utils/unified_ground_truth_sample.py