torch
opencv-python
av
pandas
Pillow
SQLAlchemy
python-dotenv
psycopg2-binary      
pymilvus             
sentence-transformers 
nltk
rouge-score
bert-score
transformers>=4.49.0 
qwen-vl-utils 
accelerate>=0.30.0 
bitsandbytes>=0.43.0